
<a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=100295213&redirect_uri=http://xiyix.com/loseweights/qqlogin">
	<img src='/img/qq_logo_3.png'>
</a>
<div class="page-header">
  <h1>想进吗？输个密码</h1>
</div>

<p id="notice"><%= notice %></p>

<form action="/loseweights/login">

	<input type='password' name='pwd'/><br/>
	<p>
		记住我的登陆状态<input type='checkbox' name='remember_me'>
	</p>
	<input type='submit' value='提交'>
</form>

<span id="qqLoginBtn"></span>
<script type="text/javascript">
    QC.Login({
       btnId:"qqLoginBtn"	//插入按钮的节点id
});
