<p id="notice"><%= notice %></p>

<form action="/loseweights/login">
	<h1>想进吗？输个密码</h1>
	<input type='password' name='pwd'/><br/>
	<p>
		记住我的登陆状态<input type='checkbox' name='remember_me'>
	</p>
	<input type='submit' value='提交'>
</form>